.clac{
  display: block;
  margin: auto;
  height: 200px;
  width: 400px;
  background-color: bisque;
  text-align: center;

}
input{
    margin-top: 50px;
    
}

.btn
{
display: block;  
margin: 20px auto;
}

.result{
    text-align: center;
}